@import url(https://fonts.googleapis.com/css?family=Raleway:400);

body {
  margin: 0;
  background-color: #192a56;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", Arial, sans-serif;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: black;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
}
